<H1> Hello <%= @name  %> - Welcome to Battleships
</H1>
<%= @board %>
<div> Aircraft Carrier: </div>
<form action='/place_ships' method='post'>
  <input type='text' name='coords'>
</form>

<form action='/logout' method='post'>
  <input type='submit' value='Logout'>
</form>
