<H1> Hello <%= @name  %> - Welcome to Battleships
</H1>
<%= @board %>
<H1> Your Ships: </H1>
<H2> Aircraft Carrier </H2>
<H2> Battleship </H2>
<H2> Destroyer </H2>
<H2> Submarine </H2>
<H2> Patrol Boat </H2>
